In [37]:
import pandas as pd
import os
import subprocess
import json
from find_vehicle_image_urls import *

In [38]:
search_results_df=compile_search_results_df()
search_results_df.drop_duplicates(subset=['vehicle_id'], inplace=True)
print(search_results_df.shape)
search_results_df.head()

search_results_honda_odyssey_1739360198.csv
(31, 8)
search_results_toyota_tacoma_1739483666.csv
(62, 8)
search_results_alfa romeo_4c.csv.csv
File search_results_alfa romeo_4c.csv.csv wrong columns, skipping
search_results_ford_explorer_1739359570.csv
(92, 8)
search_results_ford_taurus_1739325006.csv
(121, 8)
search_results_porsche_taycan_1739322969.csv
File search_results_porsche_taycan_1739322969.csv wrong columns, skipping
search_results_bmw_x5_1739338391.csv
(150, 8)
search_results_ford_explorer_1739399147.csv
(181, 8)
search_results_bmw_4-series_1739371650.csv
(210, 8)
search_results_ford_f150_1739408753.csv
(241, 8)
search_results_toyota_tacoma_1739356759.csv
(271, 8)
search_results_toyota_corolla_1739352090.csv
(301, 8)
search_results_toyota_crown_1739367061.csv
(331, 8)
search_results_ford_f150_1739412906.csv
(362, 8)
search_results_ford_taurus_1739412753.csv
(391, 8)
search_results_honda_ridgeline_1739327606.csv
(422, 8)
search_results_honda_civic_1739350203.csv
(453, 8)
search_results_bmw_3-series_1739352708.csv
(482, 8)
search_results_bmw_x5_1739363630.csv
(511, 8)
search_results_toyota_crown_1739356445.csv
(541, 8)
search_results_toyota_crown_1739390563.csv
(571, 8)
search_results_porsche_taycan_1739323122.csv
File search_results_porsche_taycan_1739323122.csv wrong columns, skipping
search_results_honda_accord_1739328236.csv
(602, 8)
search_results_volvo_v90_1739399224.csv
(631, 8)
search_results_ford_explorer_1739327292.csv
(661, 8)
search_results_ford_explorer_1739354268.csv
(691, 8)
search_results_honda_civic_1739329312.csv
(722, 8)
search_results_toyota_corolla_1739367994.csv
(752, 8)
search_results_honda_passport_1739345184.csv
(783, 8)
search_results_bmw_z4_1739363942.csv
(812, 8)
search_results_toyota_tundra_1739362377.csv
(842, 8)
search_results_toyota_tundra_1739346438.csv
(872, 8)
search_results_ford_f150_1739326976.csv
(902, 8)
search_results_ford_taurus_1739323840.csv
File search_results_ford_taurus_1739323840.csv wrong columns, skipping
search_results_bmw_x5_1739342361.csv
(931, 8)
search_results_honda_accord_1739375929.csv
(962, 8)
search_results_ford_f150_1739343296.csv
(992, 8)
search_results_toyota_corolla_1739346752.csv
(1022, 8)
search_results_toyota_camry_1739483351.csv
(1053, 8)
search_results_toyota_crown_1739398845.csv
(1084, 8)
search_results_honda_accord_1739412081.csv
(1114, 8)
search_results_bmw_3-series_1739338059.csv
(1143, 8)
search_results_toyota_crown_1739361761.csv
(1173, 8)
search_results_ford_taurus_1739408863.csv
(1202, 8)
search_results_honda_accord_1739360512.csv
(1233, 8)
search_results_bmw_3-series_1739363317.csv
(1262, 8)
search_results_honda_odyssey_1739349569.csv
(1293, 8)
search_results_bmw_z4_1739338704.csv
(1322, 8)
search_results_ford_f150_1739398435.csv
(1472, 8)
search_results_alfa romeo_4c.csv
File search_results_alfa romeo_4c.csv wrong columns, skipping
search_results_ford_explorer_1739375614.csv
(1502, 8)
search_results_bmw_x5_1739368936.csv
(1531, 8)
search_results_volvo_v90_1739409790.csv
(1560, 8)
search_results_honda_ridgeline_1739343929.csv
(1591, 8)
search_results_hyundai_asgadgadhadhsfqtdhg.csv
File search_results_hyundai_asgadgadhadhsfqtdhg.csv wrong columns, skipping
search_results_toyota_corolla_1739376557.csv
(1621, 8)
search_results_ford_taurus_1739333438.csv
(1650, 8)
search_results_honda_accord_1739344561.csv
(1681, 8)
search_results_toyota_crown_1739410400.csv
(1711, 8)
search_results_honda_odyssey_1739365492.csv
(1742, 8)
search_results_honda_passport_1739350516.csv
(1773, 8)
search_results_ford_lightning_1739323705.csv
File search_results_ford_lightning_1739323705.csv wrong columns, skipping
search_results_honda_ridgeline_1739334023.csv
(1804, 8)
search_results_toyota_camry_1739412983.csv
(1834, 8)
search_results_bmw_x5_1739353021.csv
(1863, 8)
search_results_ford_taurus_1739353641.csv
(1892, 8)
search_results_bmw_3-series_1739368623.csv
(1921, 8)
search_results_toyota_tundra_1739367678.csv
(1951, 8)
search_results_ford_taurus_1739409098.csv
(1980, 8)
search_results_ford_explorer_1739364874.csv
(2010, 8)
search_results_ford_explorer_1739370197.csv
(2040, 8)
search_results_toyota_tacoma_1739409714.csv
(2071, 8)
search_results_volvo_v90_1739412215.csv
(2100, 8)
search_results_honda_accord_1739365806.csv
(2131, 8)
search_results_toyota_corolla_1739362690.csv
(2161, 8)
search_results_toyota_camry_1739361448.csv
(2191, 8)
search_results_honda_odyssey_1739354884.csv
(2222, 8)
search_results_bmw_z4_1739391816.csv
(2251, 8)
search_results_ford_explorer_1739411681.csv
(2282, 8)
search_results_honda_ridgeline_1739388685.csv
(2313, 8)
search_results_ford_explorer_1739410776.csv
(2344, 8)
search_results_bmw_x5_1739410622.csv
(2374, 8)
search_results_bmw_z4_1739358633.csv
(2403, 8)
search_results_porsche_taycan_1739305424.csv
File search_results_porsche_taycan_1739305424.csv wrong columns, skipping
search_results_bmw_4-series_1739337728.csv
(2432, 8)
search_results_bmw_z4_1739412831.csv
(2461, 8)
search_results_honda_ridgeline_1739387819.csv
(2465, 8)
search_results_toyota_tacoma_1739411160.csv
(2494, 8)
search_results_toyota_crown_1739398761.csv
(2511, 8)
search_results_honda_odyssey_1739327921.csv
(2542, 8)
search_results_ford_taurus_1739326186.csv
(2571, 8)
search_results_honda_civic_1739360825.csv
(2602, 8)
search_results_ford_taurus_1739342979.csv
(2631, 8)
search_results_honda_passport_1739389313.csv
(2662, 8)
search_results_ford_explorer_1739343611.csv
(2692, 8)
search_results_honda_odyssey_1739411005.csv
(2722, 8)
search_results_honda_ridgeline_1739410929.csv
(2752, 8)
search_results_toyota_tundra_1739374986.csv
(2782, 8)
search_results_ford_f150_1739353956.csv
(2812, 8)
search_results_toyota_tundra_1739330887.csv
(2842, 8)
search_results_bmw_3-series_1739371966.csv
(2871, 8)
search_results_honda_odyssey_1739344246.csv
(2902, 8)
search_results_honda_civic_1739366121.csv
(2933, 8)
search_results_ford_f150_1739399534.csv
(2964, 8)
search_results_toyota_tundra_1739335531.csv
(2994, 8)
search_results_honda_ridgeline_1739326388.csv
(3025, 8)
search_results_hyundai_ioniq5.csv.csv
File search_results_hyundai_ioniq5.csv.csv wrong columns, skipping
search_results_honda_accord_1739349886.csv
(3056, 8)
search_results_toyota_tundra_1739409866.csv
(3087, 8)
search_results_honda_passport_1739329627.csv
(3118, 8)
search_results_bmw_4-series_1739363003.csv
(3147, 8)
search_results_ford_explorer_1739348950.csv
(3177, 8)
search_results_bmw_4-series_1739408770.csv
(3208, 8)
search_results_bmw_x5_1739347699.csv
(3237, 8)
search_results_bmw_4-series_1739374433.csv
(3266, 8)
search_results_toyota_corolla_1739413398.csv
(3295, 8)
search_results_toyota_tacoma_1739413191.csv
(3325, 8)
search_results_ford_f150_1739399453.csv
(3356, 8)
search_results_bmw_4-series_1739341714.csv
(3385, 8)
search_results_toyota_crown_1739351146.csv
(3415, 8)
search_results_toyota_corolla_1739357390.csv
(3445, 8)
search_results_toyota_corolla_1739331203.csv
(3475, 8)
search_results_bmw_4-series_1739410474.csv
(3505, 8)
search_results_honda_civic_1739355511.csv
(3536, 8)
search_results_toyota_camry_1739329942.csv
(3566, 8)
search_results_bmw_3-series_1739347383.csv
(3595, 8)
search_results_toyota_tacoma_1739351461.csv
(3625, 8)
search_results_toyota_tacoma_1739346121.csv
(3655, 8)
search_results_bmw_z4_1739348013.csv
(3684, 8)
search_results_ford_taurus_1739348327.csv
(3713, 8)
search_results_honda_passport_1739411084.csv
(3744, 8)
search_results_honda_accord_1739355201.csv
(3775, 8)
search_results_bmw_3-series_1739410018.csv
(3805, 8)
search_results_honda_passport_1739366434.csv
(3836, 8)
search_results_honda_civic_1739410852.csv
(3866, 8)
search_results_bmw_3-series_1739342048.csv
(3895, 8)
search_results_toyota_tundra_1739357077.csv
(3925, 8)
search_results_toyota_crown_1739345803.csv
(3955, 8)
search_results_bmw_4-series_1739368308.csv
(3984, 8)
search_results_ford_taurus_1739409378.csv
(4013, 8)
search_results_ford_taurus_1739410173.csv
(4042, 8)
search_results_honda_accord_1739410249.csv
(4071, 8)
search_results_honda_civic_1739375301.csv
(4102, 8)
search_results_honda_ridgeline_1739359884.csv
(4133, 8)
search_results_bmw_z4_1739369250.csv
(4162, 8)
search_results_ford_f150_1739369880.csv
(4192, 8)
search_results_toyota_tacoma_1739391190.csv
(4222, 8)
search_results_ford_explorer_1739333827.csv
(4252, 8)
search_results_bmw_z4_1739410324.csv
(4281, 8)
search_results_alfa-romeo_4c.csv
File search_results_alfa-romeo_4c.csv wrong columns, skipping
search_results_bmw_4-series_1739357702.csv
(4310, 8)
search_results_ford_taurus_1739339020.csv
(4339, 8)
search_results_honda_odyssey_1739370814.csv
(4370, 8)
search_results_volvo_c30_1739410548.csv
(4396, 8)
search_results_bmw_4-series_1739376243.csv
(4425, 8)
search_results_toyota_camry_1739350833.csv
(4455, 8)
search_results_ford_taurus_1739364257.csv
(4484, 8)
search_results_toyota_crown_1739330257.csv
(4514, 8)
search_results_ford_taurus_1739369565.csv
(4543, 8)
search_results_toyota_camry_1739366749.csv
(4573, 8)
search_results_bmw_x5_1739358319.csv
(4602, 8)
search_results_ford_f150_1739388059.csv
(4632, 8)
search_results_toyota_camry_1739334967.csv
(4662, 8)
search_results_bmw_x5_1739372283.csv
(4691, 8)
search_results_ford_taurus_1739358949.csv
(4720, 8)
search_results_ford_f150_1739410701.csv
(4750, 8)
search_results_toyota_tundra_1739351776.csv
(4780, 8)
search_results_honda_passport_1739355827.csv
(4811, 8)
search_results_ford_taurus_1739326663.csv
(4840, 8)
search_results_bmw_4-series_1739347070.csv
(4869, 8)
search_results_toyota_tundra_1739412616.csv
(4898, 8)
search_results_toyota_corolla_1739409940.csv
(4927, 8)
search_results_ford_f150_1739333632.csv
(4957, 8)
search_results_toyota_tacoma_1739330573.csv
(4987, 8)
search_results_ford_taurus_1739324659.csv
(5016, 8)
search_results_bmw_3-series_1739389937.csv
(5045, 8)
search_results_ford_f150_1739399584.csv
(5076, 8)
search_results_toyota_camry_1739410096.csv
(5106, 8)
search_results_honda_passport_1739334772.csv
(5137, 8)
(2248, 10)

,listing_header,url,search_url,make,model,search_timestamp,search_metadata,filename,url_clean,vehicle_id
0,Used 2020 Honda Odyssey EX-L,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/honda...,honda,odyssey,1739360198,"{'make': 'honda', 'model': 'odyssey'}",search_results_honda_odyssey_1739360198.csv,https://www.autotrader.com/cars-for-sale/vehic...,732504624
1,Used 2011 Honda Odyssey EX-L,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/honda...,honda,odyssey,1739360198,"{'make': 'honda', 'model': 'odyssey'}",search_results_honda_odyssey_1739360198.csv,https://www.autotrader.com/cars-for-sale/vehic...,738409771
2,Used 2024 Honda Odyssey Sport,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/honda...,honda,odyssey,1739360198,"{'make': 'honda', 'model': 'odyssey'}",search_results_honda_odyssey_1739360198.csv,https://www.autotrader.com/cars-for-sale/vehic...,736531071
3,Certified 2024 Honda Odyssey EX-L,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/honda...,honda,odyssey,1739360198,"{'make': 'honda', 'model': 'odyssey'}",search_results_honda_odyssey_1739360198.csv,https://www.autotrader.com/cars-for-sale/vehic...,731560875
4,Used 2019 Honda Odyssey EX-L,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/honda...,honda,odyssey,1739360198,"{'make': 'honda', 'model': 'odyssey'}",search_results_honda_odyssey_1739360198.csv,https://www.autotrader.com/cars-for-sale/vehic...,736627883

In [39]:


df_vehicle_image_urls = compile_image_urls_df()
df_vehicle_image_urls.drop_duplicates(subset=['vehicle_image_url'], inplace=True)

print(df_vehicle_image_urls.shape)
df_vehicle_image_urls.head()

733350589.csv
(22, 9)
737505595.csv
(51, 9)
735967692.csv
(52, 9)
738651921.csv
(87, 9)
739778730.csv
(97, 9)
739772553.csv
(128, 9)
738806045.csv
(155, 9)
738754326.csv
(178, 9)
734249255.csv
(208, 9)
737028425.csv
(233, 9)
738224393.csv
(235, 9)
737818415.csv
(259, 9)
737177874.csv
(260, 9)
716006444.csv
(266, 9)
735592325.csv
(267, 9)
726168146.csv
(308, 9)
730710540.csv
(333, 9)
737982463.csv
(339, 9)
739409207.csv
(341, 9)
738364827.csv
(342, 9)
739572845.csv
(366, 9)
734093495.csv
(399, 9)
737896614.csv
(418, 9)
731560875.csv
(456, 9)
736407685.csv
(499, 9)
738957182.csv
(500, 9)
736550910.csv
(505, 9)
738630528.csv
(538, 9)
734382284.csv
(544, 9)
721152042.csv
(553, 9)
730197477.csv
(558, 9)
737315319.csv
(565, 9)
731054073.csv
(592, 9)
716558057.csv
(629, 9)
736044990.csv
(666, 9)
730270081.csv
(667, 9)
737396206.csv
(668, 9)
736035760.csv
(673, 9)
721368010.csv
(674, 9)
734438190.csv
(680, 9)
734342842.csv
(703, 9)
739970774.csv
(704, 9)
738834237.csv
(705, 9)
734908828.csv
(706, 9)
736281727.csv
(775, 9)
734788399.csv
(804, 9)
723399484.csv
(827, 9)
705824598.csv
(834, 9)
726768929.csv
(865, 9)
736807409.csv
(896, 9)
732152971.csv
(902, 9)
736627883.csv
(944, 9)
738795551.csv
(950, 9)
738408353.csv
(956, 9)
740052941.csv
(1016, 9)
735786328.csv
(1021, 9)
738558362.csv
(1045, 9)
735470348.csv
(1046, 9)
736101941.csv
(1072, 9)
736796872.csv
(1073, 9)
738470613.csv
(1087, 9)
735904295.csv
(1108, 9)
733558212.csv
(1143, 9)
732022312.csv
(1173, 9)
738540049.csv
(1207, 9)
737807654.csv
(1212, 9)
735131487.csv
(1213, 9)
735584975.csv
(1214, 9)
731253758.csv
(1245, 9)
732823698.csv
(1252, 9)
736255198.csv
(1253, 9)
740074763.csv
(1255, 9)
732461552.csv
(1256, 9)
736996107.csv
(1278, 9)
710216365.csv
(1308, 9)
739540229.csv
(1348, 9)
737201582.csv
(1355, 9)
736855414.csv
(1398, 9)
730541366.csv
(1399, 9)
730103361.csv
(1433, 9)
738159675.csv
(1434, 9)
739934694.csv
(1435, 9)
739088891.csv
(1487, 9)
736940035.csv
(1531, 9)
738969123.csv
(1536, 9)
739014689.csv
(1563, 9)
735745548.csv
(1598, 9)
735080467.csv
(1599, 9)
730701477.csv
(1628, 9)
737700902.csv
(1641, 9)
738705741.csv
(1648, 9)
735554748.csv
(1678, 9)
736460803.csv
(1700, 9)
725304980.csv
(1707, 9)
737480360.csv
(1739, 9)
738948728.csv
(1762, 9)
731931938.csv
(1803, 9)
738485462.csv
(1838, 9)
736273416.csv
(1839, 9)
732663105.csv
(1840, 9)
739541734.csv
(1866, 9)
738980637.csv
(1889, 9)
727348470.csv
(1917, 9)
738210384.csv
(1944, 9)
739381944.csv
(1982, 9)
736739717.csv
(1983, 9)
734869181.csv
(1989, 9)
737254800.csv
(2018, 9)
740060934.csv
(2019, 9)
739962174.csv
(2025, 9)
738266170.csv
(2052, 9)
737742885.csv
(2058, 9)
740099759.csv
(2059, 9)
739266067.csv
(2065, 9)
734504445.csv
(2080, 9)
734246375.csv
(2081, 9)
739843423.csv
(2107, 9)
736277048.csv
(2133, 9)
733365286.csv
(2134, 9)
737478235.csv
(2135, 9)
736244125.csv
(2157, 9)
734808409.csv
(2158, 9)
738452885.csv
(2200, 9)
737477264.csv
(2247, 9)
736795616.csv
(2281, 9)
732479124.csv
(2314, 9)
738806444.csv
(2319, 9)
738193037.csv
(2336, 9)
729333587.csv
(2368, 9)
709703766.csv
(2375, 9)
739247652.csv
(2398, 9)
737044883.csv
(2428, 9)
738449718.csv
(2457, 9)
700377040.csv
(2464, 9)
726631085.csv
(2465, 9)
731832200.csv
(2491, 9)
739485013.csv
(2492, 9)
738764801.csv
(2498, 9)
736942797.csv
(2529, 9)
738473862.csv
(2536, 9)
736110485.csv
(2557, 9)
716210339.csv
(2594, 9)
739633709.csv
(2610, 9)
737159227.csv
(2643, 9)
721546616.csv
(2668, 9)
736590847.csv
(2690, 9)
736882835.csv
(2697, 9)
736079235.csv
(2728, 9)
737409142.csv
(2735, 9)
733545873.csv
(2771, 9)
733629508.csv
(2804, 9)
739078547.csv
(2835, 9)
723759450.csv
(2869, 9)
739886024.csv
(2917, 9)
729658996.csv
(2970, 9)
739780995.csv
(2977, 9)
738369964.csv
(2978, 9)
736538947.csv
(2984, 9)
735892693.csv
(2999, 9)
739690774.csv
(3042, 9)
736167736.csv
(3076, 9)
695934089.csv
(3077, 9)
739901272.csv
(3078, 9)
737444145.csv
(3096, 9)
738991212.csv
(3125, 9)
726421922.csv
(3126, 9)
737335281.csv
(3164, 9)
737014787.csv
(3192, 9)
739709035.csv
(3211, 9)
732504624.csv
(3242, 9)
735105030.csv
(3279, 9)
733211415.csv
(3285, 9)
727986025.csv
(3292, 9)
710259957.csv
(3345, 9)
740020144.csv
(3379, 9)
736034794.csv
(3402, 9)
738031426.csv
(3428, 9)
739354463.csv
(3433, 9)
737350381.csv
(3438, 9)
738462712.csv
(3460, 9)
734519707.csv
(3497, 9)
728405487.csv
(3535, 9)
738029080.csv
(3547, 9)
739373023.csv
(3550, 9)
726617391.csv
(3557, 9)
738783346.csv
(3583, 9)
738102365.csv
(3620, 9)
738806033.csv
(3645, 9)
738846365.csv
(3672, 9)
730295330.csv
(3679, 9)
737791306.csv
(3727, 9)
739725441.csv
(3762, 9)
723307024.csv
(3763, 9)
730967984.csv
(3769, 9)
732412655.csv
(3770, 9)
725192692.csv
(3797, 9)
734960249.csv
(3809, 9)
729437318.csv
(3830, 9)
729276123.csv
(3835, 9)
476067922.csv
(3836, 9)
739837304.csv
(3837, 9)
737974961.csv
(3838, 9)
739805177.csv
(3846, 9)
739895564.csv
(3869, 9)
726757990.csv
(3921, 9)
737414822.csv
(3954, 9)
735759107.csv
(3983, 9)
739033456.csv
(3984, 9)
738534595.csv
(3991, 9)
739764027.csv
(4016, 9)
739887570.csv
(4017, 9)
738806421.csv
(4022, 9)
731604324.csv
(4028, 9)
739696925.csv
(4074, 9)
738036405.csv
(4080, 9)
734656256.csv
(4112, 9)
728680634.csv
(4148, 9)
739237312.csv
(4157, 9)
738533589.csv
(4180, 9)
735593933.csv
(4208, 9)
740137177.csv
(4209, 9)
736366294.csv
(4210, 9)
738743997.csv
(4253, 9)
735347050.csv
(4296, 9)
739471281.csv
(4313, 9)
728310371.csv
(4314, 9)
735657103.csv
(4349, 9)
675702273.csv
(4350, 9)
738075688.csv
(4357, 9)
735737608.csv
(4391, 9)
729514930.csv
(4392, 9)
740093776.csv
(4411, 9)
735591739.csv
(4438, 9)
737403191.csv
(4470, 9)
737663178.csv
(4496, 9)
704716526.csv
(4513, 9)
738380865.csv
(4514, 9)
740064675.csv
(4515, 9)
738893952.csv
(4516, 9)
735611185.csv
(4517, 9)
738409771.csv
(4537, 9)
738283149.csv
(4544, 9)
738738528.csv
(4548, 9)
739523474.csv
(4549, 9)
739753881.csv
(4555, 9)
733893759.csv
(4556, 9)
738721657.csv
(4563, 9)
738282323.csv
(4599, 9)
730882660.csv
(4605, 9)
737762464.csv
(4621, 9)
740088971.csv
(4622, 9)
737262679.csv
(4623, 9)
738727757.csv
(4624, 9)
716785764.csv
(4625, 9)
737175430.csv
(4646, 9)
723637289.csv
(4653, 9)
739951495.csv
(4660, 9)
739848852.csv
(4666, 9)
734181585.csv
(4702, 9)
739625080.csv
(4743, 9)
739855793.csv
(4749, 9)
738979150.csv
(4764, 9)
740011957.csv
(4765, 9)
739390221.csv
(4766, 9)
739853335.csv
(4767, 9)
733292121.csv
(4784, 9)
736815724.csv
(4809, 9)
737933390.csv
(4810, 9)
726185109.csv
(4850, 9)
740131649.csv
(4854, 9)
723680379.csv
(4861, 9)
738768861.csv
(4862, 9)
739902346.csv
(4863, 9)
739664380.csv
(4877, 9)
736749497.csv
(4884, 9)
738788001.csv
(4885, 9)
723050117.csv
(4911, 9)
737019463.csv
(4912, 9)
738071628.csv
(4935, 9)
689369233.csv
(4956, 9)
737098394.csv
(4979, 9)
733215514.csv
(5011, 9)
734103433.csv
(5042, 9)
734661947.csv
(5080, 9)
737462193.csv
(5081, 9)
739362658.csv
(5110, 9)
739540661.csv
(5116, 9)
721821879.csv
(5170, 9)
731481353.csv
(5177, 9)
740139411.csv
(5183, 9)
733743837.csv
(5233, 9)
735019145.csv
(5240, 9)
739354466.csv
(5241, 9)
737715407.csv
(5242, 9)
739172419.csv
(5291, 9)
737619361.csv
(5300, 9)
730728127.csv
(5303, 9)
737114422.csv
(5304, 9)
738370014.csv
(5305, 9)
739633795.csv
(5311, 9)
731218310.csv
(5346, 9)
738028012.csv
(5347, 9)
733467870.csv
(5412, 9)
735183331.csv
(5413, 9)
731197658.csv
(5414, 9)
738037117.csv
(5449, 9)
733220789.csv
(5473, 9)
740118000.csv
(5474, 9)
721985523.csv
(5487, 9)
738604590.csv
(5525, 9)
739389030.csv
(5531, 9)
739761009.csv
(5532, 9)
739832712.csv
(5538, 9)
739527423.csv
(5556, 9)
739368609.csv
(5596, 9)
721877372.csv
(5602, 9)
737461119.csv
(5649, 9)
725894279.csv
(5673, 9)
734607775.csv
(5707, 9)
735833486.csv
(5727, 9)
734278418.csv
(5728, 9)
727983632.csv
(5734, 9)
736595367.csv
(5741, 9)
733888613.csv
(5776, 9)
735490773.csv
(5782, 9)
739515679.csv
(5796, 9)
733683820.csv
(5829, 9)
739051541.csv
(5830, 9)
722490800.csv
(5836, 9)
739686693.csv
(5837, 9)
736489389.csv
(5838, 9)
737048379.csv
(5839, 9)
737981511.csv
(5840, 9)
734099058.csv
(5873, 9)
738350860.csv
(5913, 9)
739910767.csv
(5914, 9)
739052464.csv
(5947, 9)
737772733.csv
(5986, 9)
739945764.csv
(6008, 9)
736796788.csv
(6015, 9)
736669760.csv
(6046, 9)
739408574.csv
(6047, 9)
737180073.csv
(6075, 9)
734106752.csv
(6104, 9)
734451600.csv
(6112, 9)
738517594.csv
(6113, 9)
739420763.csv
(6139, 9)
733467467.csv
(6182, 9)
714682253.csv
(6215, 9)
720417053.csv
(6240, 9)
739194145.csv
(6272, 9)
740145258.csv
(6273, 9)
737111434.csv
(6296, 9)
735079324.csv
(6330, 9)
735371930.csv
(6331, 9)
739284660.csv
(6354, 9)
738969005.csv
(6382, 9)
730405610.csv
(6388, 9)
444880994.csv
(6402, 9)
706164010.csv
(6417, 9)
739401021.csv
(6446, 9)
735578151.csv
(6453, 9)
739761023.csv
(6455, 9)
734279315.csv
(6456, 9)
732835443.csv
(6495, 9)
733092426.csv
(6531, 9)
738594850.csv
(6537, 9)
738488048.csv
(6538, 9)
730617680.csv
(6539, 9)
737629087.csv
(6578, 9)
739534515.csv
(6584, 9)
739051608.csv
(6589, 9)
739289591.csv
(6632, 9)
738111673.csv
(6633, 9)
740111234.csv
(6634, 9)
734400847.csv
(6658, 9)
732163094.csv
(6664, 9)
738820978.csv
(6665, 9)
727435536.csv
(6712, 9)
739072214.csv
(6719, 9)
729979962.csv
(6752, 9)
738426610.csv
(6787, 9)
739328029.csv
(6824, 9)
740070543.csv
(6826, 9)
739210207.csv
(6848, 9)
738854814.csv
(6876, 9)
738175040.csv
(6916, 9)
730733120.csv
(6940, 9)
738307644.csv
(6965, 9)
737640169.csv
(7001, 9)
737112448.csv
(7002, 9)
736112748.csv
(7009, 9)
736440560.csv
(7015, 9)
738605266.csv
(7049, 9)
727661082.csv
(7078, 9)
738759900.csv
(7111, 9)
738188655.csv
(7145, 9)
730844217.csv
(7183, 9)
714192425.csv
(7192, 9)
740092262.csv
(7234, 9)
736313968.csv
(7274, 9)
736712659.csv
(7311, 9)
731096941.csv
(7327, 9)
735207524.csv
(7346, 9)
730170860.csv
(7370, 9)
732582088.csv
(7375, 9)
737511994.csv
(7382, 9)
738035075.csv
(7424, 9)
736601341.csv
(7458, 9)
733821242.csv
(7463, 9)
731785019.csv
(7464, 9)
737684923.csv
(7472, 9)
738025299.csv
(7509, 9)
737493229.csv
(7517, 9)
739505095.csv
(7550, 9)
739609159.csv
(7551, 9)
738035077.csv
(7593, 9)
734104396.csv
(7623, 9)
739648475.csv
(7629, 9)
731791244.csv
(7656, 9)
737847142.csv
(7690, 9)
734538897.csv
(7691, 9)
734990438.csv
(7692, 9)
724975962.csv
(7693, 9)
725617155.csv
(7694, 9)
735183107.csv
(7701, 9)
738733311.csv
(7726, 9)
739653900.csv
(7729, 9)
738961700.csv
(7731, 9)
729555037.csv
(7738, 9)
735012636.csv
(7739, 9)
736815263.csv
(7746, 9)
733252905.csv
(7766, 9)
738521154.csv
(7785, 9)
735097006.csv
(7816, 9)
739582515.csv
(7847, 9)
738042823.csv
(7848, 9)
733518302.csv
(7857, 9)
737355747.csv
(7858, 9)
736665996.csv
(7891, 9)
737262855.csv
(7916, 9)
738131365.csv
(7947, 9)
719460121.csv
(7953, 9)
733492576.csv
(7954, 9)
737813102.csv
(7955, 9)
739444180.csv
(7957, 9)
735974079.csv
(7958, 9)
735594262.csv
(7974, 9)
736101938.csv
(8000, 9)
731388871.csv
(8014, 9)
735367402.csv
(8048, 9)
734103567.csv
(8054, 9)
729054068.csv
(8061, 9)
720417054.csv
(8088, 9)
739509484.csv
(8089, 9)
737183233.csv
(8090, 9)
739058831.csv
(8091, 9)
739350219.csv
(8092, 9)
737349555.csv
(8129, 9)
736132504.csv
(8167, 9)
737614499.csv
(8191, 9)
736671128.csv
(8232, 9)
738781089.csv
(8264, 9)
722934142.csv
(8294, 9)
730295401.csv
(8325, 9)
737518056.csv
(8332, 9)
727500517.csv
(8354, 9)
738196235.csv
(8387, 9)
736126728.csv
(8415, 9)
733781112.csv
(8416, 9)
737211598.csv
(8462, 9)
729166122.csv
(8484, 9)
735129765.csv
(8489, 9)
731519617.csv
(8515, 9)
739354434.csv
(8534, 9)
736835937.csv
(8535, 9)
730215611.csv
(8568, 9)
739047382.csv
(8570, 9)
725482594.csv
(8571, 9)
738435379.csv
(8572, 9)
737155772.csv
(8578, 9)
735021852.csv
(8579, 9)
736351875.csv
(8609, 9)
729768750.csv
(8646, 9)
740068618.csv
(8647, 9)
735713310.csv
(8663, 9)
738063450.csv
(8693, 9)
738980638.csv
(8700, 9)
730551962.csv
(8707, 9)
739254435.csv
(8708, 9)
738974578.csv
(8756, 9)
736035153.csv
(8757, 9)
708929467.csv
(8783, 9)
730719222.csv
(8814, 9)
738088156.csv
(8845, 9)
736506183.csv
(8873, 9)
737746187.csv
(8909, 9)
728389277.csv
(8910, 9)
739977774.csv
(8911, 9)
739308014.csv
(8916, 9)
733798132.csv
(8963, 9)
736411158.csv
(8996, 9)
701932606.csv
(9003, 9)
737966499.csv
(9030, 9)
739698433.csv
(9036, 9)
737730985.csv
(9077, 9)
737206018.csv
(9084, 9)
740141840.csv
(9085, 9)
735728623.csv
(9090, 9)
738421125.csv
(9112, 9)
738908670.csv
(9160, 9)
738411031.csv
(9193, 9)
739312476.csv
(9218, 9)
732954197.csv
(9224, 9)
737625581.csv
(9225, 9)
735633997.csv
(9249, 9)
718918987.csv
(9260, 9)
740054691.csv
(9261, 9)
738584765.csv
(9293, 9)
737155770.csv
(9312, 9)
735593226.csv
(9353, 9)
739623878.csv
(9377, 9)
734623884.csv
(9378, 9)
738558829.csv
(9383, 9)
733298701.csv
(9389, 9)
678426506.csv
(9421, 9)
736472749.csv
(9427, 9)
731678253.csv
(9428, 9)
737315111.csv
(9467, 9)
737018512.csv
(9500, 9)
738921368.csv
(9501, 9)
735399632.csv
(9549, 9)
731797645.csv
(9585, 9)
738970696.csv
(9586, 9)
739757900.csv
(9615, 9)
725843409.csv
(9621, 9)
731533361.csv
(9628, 9)
738858442.csv
(9664, 9)
738040467.csv
(9695, 9)
737441479.csv
(9696, 9)
736317017.csv
(9701, 9)
738538071.csv
(9739, 9)
733610351.csv
(9774, 9)
730035806.csv
(9775, 9)
737391639.csv
(9786, 9)
733568256.csv
(9787, 9)
737890493.csv
(9788, 9)
740097998.csv
(9789, 9)
736232250.csv
(9796, 9)
740064151.csv
(9797, 9)
738851489.csv
(9809, 9)
732315442.csv
(9841, 9)
738256905.csv
(9863, 9)
738022966.csv
(9870, 9)
732771119.csv
(9875, 9)
731246006.csv
(9896, 9)
737231100.csv
(9931, 9)
736116799.csv
(9959, 9)
724308054.csv
(9993, 9)
728180171.csv
(10034, 9)
735989340.csv
(10071, 9)
735892012.csv
(10078, 9)
739302674.csv
(10079, 9)
739923726.csv
(10080, 9)
739299865.csv
(10091, 9)
739302339.csv
(10092, 9)
734847711.csv
(10093, 9)
737048081.csv
(10163, 9)
738026863.csv
(10199, 9)
739566433.csv
(10233, 9)
735679118.csv
(10263, 9)
735178061.csv
(10272, 9)
724640219.csv
(10295, 9)
739299327.csv
(10301, 9)
738199908.csv
(10327, 9)
736836578.csv
(10328, 9)
731930810.csv
(10329, 9)
719931209.csv
(10361, 9)
734133349.csv
(10368, 9)
740063373.csv
(10369, 9)
737716991.csv
(10395, 9)
737541118.csv
(10419, 9)
723684405.csv
(10420, 9)
738883733.csv
(10421, 9)
736995166.csv
(10447, 9)
739417396.csv
(10448, 9)
739511929.csv
(10449, 9)
740114310.csv
(10484, 9)
739945073.csv
(10529, 9)
737000831.csv
(10564, 9)
735122741.csv
(10570, 9)
731917467.csv
(10571, 9)
736531071.csv
(10610, 9)
736690161.csv
(10616, 9)
475427826.csv
(10630, 9)
734630419.csv
(10658, 9)
718731261.csv
(10680, 9)
737777028.csv
(10716, 9)
735578525.csv
(10722, 9)
727667684.csv
(10730, 9)
728580150.csv
(10740, 9)
729067167.csv
(10761, 9)
727632860.csv
(10789, 9)
735462554.csv
(10869, 9)
736188616.csv
(10870, 9)
731014315.csv
(10920, 9)
735713671.csv
(10927, 9)
734344152.csv
(10928, 9)
737667004.csv
(10929, 9)
740085018.csv
(10930, 9)
737025681.csv
(10936, 9)
735122740.csv
(10937, 9)
735586201.csv
(10944, 9)
739759095.csv
(10945, 9)
734922767.csv
(10946, 9)
740131813.csv
(10952, 9)
(10932, 9)

,vehicle_image_url,vehicle_id,url,vin,year_make_model,list_price,listing_details,listing_narrative,filename
0,https://images.autotrader.com/scaler/500/375/h...,733350589,https://www.autotrader.com/cars-for-sale/vehic...,1FMSK8DH7NGB73381,Used 2022 Ford Explorer XLT w/ Equipment Group...,"$30,998","20,678 miles^- Low Mileage^2.3L 4-Cylinder Tur...",CARFAX One-Owner. 20/27 City/Highway MPG This ...,733350589.csv
1,https://images.autotrader.com/scaler/500/375/h...,733350589,https://www.autotrader.com/cars-for-sale/vehic...,1FMSK8DH7NGB73381,Used 2022 Ford Explorer XLT w/ Equipment Group...,"$30,998","20,678 miles^- Low Mileage^2.3L 4-Cylinder Tur...",CARFAX One-Owner. 20/27 City/Highway MPG This ...,733350589.csv
2,https://images.autotrader.com/scaler/500/375/h...,733350589,https://www.autotrader.com/cars-for-sale/vehic...,1FMSK8DH7NGB73381,Used 2022 Ford Explorer XLT w/ Equipment Group...,"$30,998","20,678 miles^- Low Mileage^2.3L 4-Cylinder Tur...",CARFAX One-Owner. 20/27 City/Highway MPG This ...,733350589.csv
3,https://images.autotrader.com/scaler/500/375/h...,733350589,https://www.autotrader.com/cars-for-sale/vehic...,1FMSK8DH7NGB73381,Used 2022 Ford Explorer XLT w/ Equipment Group...,"$30,998","20,678 miles^- Low Mileage^2.3L 4-Cylinder Tur...",CARFAX One-Owner. 20/27 City/Highway MPG This ...,733350589.csv
4,https://images.autotrader.com/scaler/500/375/h...,733350589,https://www.autotrader.com/cars-for-sale/vehic...,1FMSK8DH7NGB73381,Used 2022 Ford Explorer XLT w/ Equipment Group...,"$30,998","20,678 miles^- Low Mileage^2.3L 4-Cylinder Tur...",CARFAX One-Owner. 20/27 City/Highway MPG This ...,733350589.csv

In [40]:
sorted(set(list(df_vehicle_image_urls)).intersection(search_results_df))

df_vehicle_image_urls['vehicle_id']=df_vehicle_image_urls['vehicle_id'].astype(int)
search_results_df['vehicle_id']=search_results_df['vehicle_id'].astype(int)

print(len(set(df_vehicle_image_urls['vehicle_id'])),len(set(search_results_df['vehicle_id'])))


df = df_vehicle_image_urls.merge(search_results_df, on=['vehicle_id'], how='inner', suffixes=('', '.search'))
print(df.shape)
df

614 2248
(10838, 18)

,vehicle_image_url,vehicle_id,url,vin,year_make_model,list_price,listing_details,listing_narrative,filename,listing_header,url.search,search_url,make,model,search_timestamp,search_metadata,filename.search,url_clean
0,https://images.autotrader.com/scaler/500/375/h...,733350589,https://www.autotrader.com/cars-for-sale/vehic...,1FMSK8DH7NGB73381,Used 2022 Ford Explorer XLT w/ Equipment Group...,"$30,998","20,678 miles^- Low Mileage^2.3L 4-Cylinder Tur...",CARFAX One-Owner. 20/27 City/Highway MPG This ...,733350589.csv,Used 2022 Ford Explorer XLT,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/ford/...,ford,explorer,1739411681,"{'make': 'ford', 'model': 'explorer', 'first_r...",search_results_ford_explorer_1739411681.csv,https://www.autotrader.com/cars-for-sale/vehic...
1,https://images.autotrader.com/scaler/500/375/h...,733350589,https://www.autotrader.com/cars-for-sale/vehic...,1FMSK8DH7NGB73381,Used 2022 Ford Explorer XLT w/ Equipment Group...,"$30,998","20,678 miles^- Low Mileage^2.3L 4-Cylinder Tur...",CARFAX One-Owner. 20/27 City/Highway MPG This ...,733350589.csv,Used 2022 Ford Explorer XLT,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/ford/...,ford,explorer,1739411681,"{'make': 'ford', 'model': 'explorer', 'first_r...",search_results_ford_explorer_1739411681.csv,https://www.autotrader.com/cars-for-sale/vehic...
2,https://images.autotrader.com/scaler/500/375/h...,733350589,https://www.autotrader.com/cars-for-sale/vehic...,1FMSK8DH7NGB73381,Used 2022 Ford Explorer XLT w/ Equipment Group...,"$30,998","20,678 miles^- Low Mileage^2.3L 4-Cylinder Tur...",CARFAX One-Owner. 20/27 City/Highway MPG This ...,733350589.csv,Used 2022 Ford Explorer XLT,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/ford/...,ford,explorer,1739411681,"{'make': 'ford', 'model': 'explorer', 'first_r...",search_results_ford_explorer_1739411681.csv,https://www.autotrader.com/cars-for-sale/vehic...
3,https://images.autotrader.com/scaler/500/375/h...,733350589,https://www.autotrader.com/cars-for-sale/vehic...,1FMSK8DH7NGB73381,Used 2022 Ford Explorer XLT w/ Equipment Group...,"$30,998","20,678 miles^- Low Mileage^2.3L 4-Cylinder Tur...",CARFAX One-Owner. 20/27 City/Highway MPG This ...,733350589.csv,Used 2022 Ford Explorer XLT,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/ford/...,ford,explorer,1739411681,"{'make': 'ford', 'model': 'explorer', 'first_r...",search_results_ford_explorer_1739411681.csv,https://www.autotrader.com/cars-for-sale/vehic...
4,https://images.autotrader.com/scaler/500/375/h...,733350589,https://www.autotrader.com/cars-for-sale/vehic...,1FMSK8DH7NGB73381,Used 2022 Ford Explorer XLT w/ Equipment Group...,"$30,998","20,678 miles^- Low Mileage^2.3L 4-Cylinder Tur...",CARFAX One-Owner. 20/27 City/Highway MPG This ...,733350589.csv,Used 2022 Ford Explorer XLT,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/ford/...,ford,explorer,1739411681,"{'make': 'ford', 'model': 'explorer', 'first_r...",search_results_ford_explorer_1739411681.csv,https://www.autotrader.com/cars-for-sale/vehic...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10833,https://images.autotrader.com/scaler/164/123/h...,740131813,https://www.autotrader.com/cars-for-sale/vehic...,NaN,Used 2017 Ford Taurus SE,NaN,"69,123 miles^3.5L 6-Cylinder Flexible Fuel Eng...",NaN,740131813.csv,Used 2017 Ford Taurus SE,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/ford/...,ford,taurus,1739408863,"{'make': 'ford', 'model': 'taurus', 'zipcode':...",search_results_ford_taurus_1739408863.csv,https://www.autotrader.com/cars-for-sale/vehic...
10834,https://images.autotrader.com/scaler/500/375/h...,740131813,https://www.autotrader.com/cars-for-sale/vehic...,NaN,Used 2017 Ford Taurus SE,NaN,"69,123 miles^3.5L 6-Cylinder Flexible Fuel Eng...",NaN,740131813.csv,Used 2017 Ford Taurus SE,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/ford/...,ford,taurus,1739408863,"{'make': 'ford', 'model': 'taurus', 'zipcode':...",search_results_ford_taurus_1739408863.csv,https://www.autotrader.com/cars-for-sale/vehic...
10835,https://images.autotrader.com/scaler/164/123/h...,740131813,https://www.autotrader.com/cars-for-sale/vehic...,NaN,Used 2017 Ford Taurus SE,NaN,"69,123 miles^3.5L 6-Cylinder Flexible Fuel Eng...",NaN,740131813.csv,Used 2017 Ford Taurus SE,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/ford/...,ford,taurus,1739408863,"{'make': 'ford', 'model': 'taurus', 'zipcode':...",search_results_ford_taurus_1739408863.csv,https://www.autotrader.com/cars-for-sale/vehic...
10836,https://images.autotrader.com/scaler/164/123/h...,740131813,https://www.autotrader.com/cars-for-sale/vehic...,NaN,Used 2017 Ford Taurus SE,NaN,"69,123 miles^3.5L 6-Cylinder Flexible Fuel Eng...",NaN,740131813.csv,Used 2017 Ford Taurus SE,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/ford/...,ford,taurus,1739408863,"{'make': 'ford', 'model': 'taurus', 'zipcode':...",search_results_ford_taurus_1739408863.csv,https://www.autotrader.com/cars-for-sale/vehic...
10837,https://images.autotrader.com/scaler/488/366/h...,740131813,https://www.autotrader.com/cars-for-sale/vehic...,NaN,Used 2017 Ford Taurus SE,NaN,"69,123 miles^3.5L 6-Cylinder Flexible Fuel Eng...",NaN,740131813.csv,Used 2017 Ford Taurus SE,https://www.autotrader.com/cars-for-sale/vehic...,https://www.autotrader.com/cars-for-sale/ford/...,ford,taurus,1739408863,"{'make': 'ford', 'model': 'taurus', 'zipcode':...",search_results_ford_taurus_1739408863.csv,https://www.autotrader.com/cars-for-sale/vehic...

In [41]:
i=0
vehicle_image_records=list( df.to_dict('records'))
vehicle_image_record = vehicle_image_records[i]
# print(json.dumps(vehicle_image_record,indent=2))

print(vehicle_image_record['vehicle_image_url'], os.path.basename(vehicle_image_record['vehicle_image_url']))

https://images.autotrader.com/scaler/500/375/hn/c/ca98edcc379c431c9a55ba5f7e248768.jpg ca98edcc379c431c9a55ba5f7e248768.jpg

In [42]:
# !wget -nc -P  "/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/ff42e26fdabb4cf2bee049d3909ffee3.jpg" "https://images.autotrader.com/scaler/500/375/hn/c/ff42e26fdabb4cf2bee049d3909ffee3.jpg"
#
# !wget -nc -P "./data/autotrader/vehicle_images/make-honda/model-odyssey/vehicle_id-731560875/e07236fab645466e953dd25c76e8f16f.jpg" "https://images.autotrader.com/scaler/500/375/hn/c/e07236fab645466e953dd25c76e8f16f.jpg"

!wget -nc -O "/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-honda/model-odyssey/vehicle_id-731560875/95e1c384c7a7468ba4e50a1bbe27fbea.jpg" "https://images.autotrader.com/scaler/500/375/hn/c/95e1c384c7a7468ba4e50a1bbe27fbea.jpg"

File ‘/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-honda/model-odyssey/vehicle_id-731560875/95e1c384c7a7468ba4e50a1bbe27fbea.jpg’ already there; not retrieving.

In [43]:
image_folder_template='make-{make}/model-{model}/vehicle_id-{vehicle_id}/'
cmd_template= '''wget -nc -O "{filepath}" "{image_url}" '''

'''
wget -P "/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/" "https://images.autotrader.com/scaler/500/375/hn/c/ff42e26fdabb4cf2bee049d3909ffee3.jpg"
'''

# print(vehicle_image_record['vehicle_image_url'], os.path.basename(vehicle_image_record['vehicle_image_url']))

folder = parent_directory_images + image_folder_template.format(
    make=vehicle_image_record['make'],
    model=vehicle_image_record['model'],
    vehicle_id=vehicle_image_record['vehicle_id']
)
os.makedirs(folder, exist_ok=True)
filepath=f"{folder}{os.path.basename(vehicle_image_record['vehicle_image_url'])}"
print(filepath)
cmd = cmd_template.format(
    filepath=filepath,
    image_url=vehicle_image_record['vehicle_image_url']
)
print(cmd)
subprocess.call(cmd, shell=True)

/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-ford/model-explorer/vehicle_id-733350589/ca98edcc379c431c9a55ba5f7e248768.jpg
wget -nc -O "/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-ford/model-explorer/vehicle_id-733350589/ca98edcc379c431c9a55ba5f7e248768.jpg" "https://images.autotrader.com/scaler/500/375/hn/c/ca98edcc379c431c9a55ba5f7e248768.jpg"

File ‘/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-ford/model-explorer/vehicle_id-733350589/ca98edcc379c431c9a55ba5f7e248768.jpg’ already there; not retrieving.

1

In [ ]:
image_folder_template='make-{make}/model-{model}/vehicle_id-{vehicle_id}/'
cmd_template= '''wget -q -nc -O "{filepath}" "{image_url}" '''
sleep=2


## todo check if file exists in python and then only sleep if a download occurs
new_images=0

for vehicle_image_record in vehicle_image_records:

    folder = parent_directory_images + image_folder_template.format(
        make=vehicle_image_record['make'],
        model=vehicle_image_record['model'],
        vehicle_id=vehicle_image_record['vehicle_id']
    )
    os.makedirs(folder, exist_ok=True)
    filepath=f"{folder}{os.path.basename(vehicle_image_record['vehicle_image_url'])}"
    already_exist = os.path.exists(filepath)
    if not already_exist:
        print(filepath)
        cmd = cmd_template.format(
            filepath=filepath,
            image_url=vehicle_image_record['vehicle_image_url']
        )
        # print(cmd)
        subprocess.call(cmd, shell=True)
        time.sleep(sleep)
        new_images+=1


print(new_images)

/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-toyota/model-tundra/vehicle_id-735967692/5bccadd147fe41e3807f62b7baeb30fd.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-ford/model-f150/vehicle_id-716006444/44192d4b64c74fd4b344ea48a382d9a9.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-ford/model-f150/vehicle_id-716006444/4ab1bcff166a49c7b0f2ac0b7e0dec02.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-ford/model-f150/vehicle_id-716006444/4b6da02f5a4f49b596027f2f35d5852a.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-ford/model-f150/vehicle_id-716006444/5be83fce39b14887a2366a33bff9142b.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-ford/model-f150/vehicle_id-716006444/acc3a7860fb347719ac6012c34be61e7.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-toyota/model-tacoma/vehicle_id-735592325/666cc1afe4f4495680a424f366e11738.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-bmw/model-3-series/vehicle_id-730710540/0a882da1-ea9c-4ad7-a4af-237d3ade3f99.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-bmw/model-3-series/vehicle_id-730710540/0f712f10-cf64-4828-9453-6f39859b32b4.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-bmw/model-3-series/vehicle_id-730710540/0ffa03de-d518-48d1-9dcc-149d7f0ca5ec.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-bmw/model-3-series/vehicle_id-730710540/156658fe-2e85-40bc-8b27-40d85dfb5d8a.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-bmw/model-3-series/vehicle_id-730710540/23098684-cd09-48b0-b55c-0f1536be1b57.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-bmw/model-3-series/vehicle_id-730710540/32242aae-2c47-42c7-8695-68e2487307e1.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-bmw/model-3-series/vehicle_id-730710540/393135f7-097a-4688-9855-d5e6e8cbd443.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-bmw/model-3-series/vehicle_id-730710540/4211fb03-74bb-45a6-81bb-b20e776ff0b2.jpg
/Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/make-bmw/model-3-series/vehicle_id-730710540/42a6963b-a1b2-455d-a26c-db2fb031b5e2.jpg

In [33]:
## count the number of image files
!find /Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/ -type f -name '*jpg' | wc -l

    7895

In [34]:
## how many individual vehicles
!find /Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/ -type d -name 'vehicle*' | wc -l

     364

In [35]:
# count images by make
!find /Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/ -type f -name '*jpg' |\
    cut -d'/' -f10 | sort | uniq -c | sort -nr

2477 make-ford
2064 make-toyota
1656 make-bmw
1597 make-honda
 101 make-volvo

In [36]:
# count images by make model
!find /Users/levgolod/Projects/car_classifier/data/autotrader/vehicle_images/ -type f -name '*jpg' |\
    cut -d'/' -f10-11 | sort | uniq -c | sort -nr

1086 make-ford/model-f150
 776 make-ford/model-taurus
 615 make-ford/model-explorer
 547 make-bmw/model-4-series
 490 make-toyota/model-tacoma
 467 make-toyota/model-crown
 414 make-bmw/model-3-series
 408 make-toyota/model-camry
 394 make-honda/model-passport
 389 make-honda/model-odyssey
 355 make-toyota/model-tundra
 348 make-bmw/model-z4
 347 make-bmw/model-x5
 344 make-toyota/model-corolla
 299 make-honda/model-accord
 296 make-honda/model-ridgeline
 219 make-honda/model-civic
 101 make-volvo/model-v90